<h1>Create Your Blog Post</h1>
<p><%= @error %></p>
<form action="/blogs" method="POST">
    <label>Blog Title</label>
    <input type="text" name="blog[title]">
    
    <label>Author</label>
    <input type="text" name="blog[author]">
    
    <label>Content</label>
    <textarea type="textarea" name="blog[content]"></textarea>
    
    <label>Add Genre To Your Post</label>
    <input type="text" name="genre[name]"><br>
    <% @genres.each do |genre|%>
        <br>
        <% if genre.name != "" %>
        <input type="checkbox" name="blog[genre_ids][]" value="<%= genre.id %>"><%= genre.name %></input>
        <% end %>
    
    <% end %>




    <button type="Submit">Post Blog</button>

</form>