<div class="new-container">
<h1>Create Your Blog Post</h1>
<hr>
<p><%= @error %></p>
<form action="/blogs" method="POST">
    <label>BLOG TITLE</label><br>
    <input type="text" name="blog[title]"><br><br>
    
    <label>AUTHOR</label><br>
    <input type="text" name="blog[author]"><br><br>
    
    <label>CONTENT</label><br>
    <textarea type="textarea" name="blog[content]" rows=10></textarea><br><br>
    
    <label>CREATE GENRE</label><br>
    <input type="text" name="genre[name]"><br><br>
    <% @genres.each do |genre|%>
        <br>
        <% if genre.name != "" || nil %>
        <input type="checkbox" name="blog[genre_ids][]" value="<%= genre.id %>"><%= genre.name %></input><br>
        <% end %>
    
    <% end %>



   <br><button type="Submit">Post Blog</button>

</form>
</div>