@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body{
    margin: 0px;
}

.container{
    width: 100%;
    display: inline-block;
    
    }
    

    nav{
       overflow: hidden;
       background-color: #333;
       position: fixed;
       top: 0;
       width: 100%;
        ul{
                text-align: right;
                list-style-type: none;
                list-style-type: none;
                margin: 0;
                padding: 15px;
        
            li{
                         display: inline;
                         font-size: 17px;
                     
                 a{
                         color: #f2f2f2;
                         text-decoration: none;
                         padding: 14px;
                         margin: 0%;
                      
            
                           &:hover {
                            background-color: #111;
                          
                           }
                 }
            }
        }
    }

    .wrapper{
        text-align: center;
        padding-top: 10%;
        // background-image: url(https://images.pexels.com/photos/590493/pexels-photo-590493.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
        // background-size: cover;
        
        .welcome{
            color: rgb(71, 71, 212);
            font-family: 'Lobster', cursive;
            font-size: 130px;
            }
        }    
    

    .branding{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;

    }

    .logo{
         font-family: 'Lobster', cursive;
         font-size: 19px;
    }


    
//     ul{
//    .logo{
//        text-align: left;
//        color:  #f2f2f2;
//        display: inline-flex;
//    } 
