<div class="signup-container">
<p><%= @error %></p>
<form action="/signup" method="POST">
    <br><label>Username</label><br>
    <input type="text" name="username"><br><br>
   
    <br><label>Password</label><br>
    <input type="password" name="password"><br><br>
    
    <input type="submit" value="Sign Up">

</form>
</div>